body {
    font-family: Arial, sans-serif;
    background-color: #bd2b2b;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"]{
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #e9b712;
    color: #282c26;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    
}

button:hover {
    background-color: #b49c13;
    color: #ffffff;
}

.lista-filmes {
    text-align: center;
    margin-top: 20px;
}

.lista-filmes h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.lista-filmes p {
    font-size: 18px;
    line-height: 1.5;
}
